{
    "//": "Copy this file to CMakeUserPresets.json and adjust the paths in the",
    "//1": "'machine' preset to match your local Efinity tool installation.",
    "version": 6,
    "configurePresets": [
        {
            "name": "machine",
            "hidden": true,
            "cacheVariables": {
                "EFINITY_RISCV_INSTALL_DIR": "__EFINITY_RISCV_PATH__",
                "EFINITY_INSTALL_DIR": "__EFINITY_PATH__"
            }
        },
        {
            "name": "debug",
            "displayName": "Debug",
            "inherits": [
                "debug-base",
                "machine"
            ]
        },
        {
            "name": "release",
            "displayName": "Release",
            "inherits": [
                "release-base",
                "machine"
            ]
        }
    ],
    "buildPresets": [
        {
            "name": "debug",
            "configurePreset": "debug"
        },
        {
            "name": "release",
            "configurePreset": "release"
        }
    ]
}
